@import '../common';

.navbar {
  height: 8rem;
  background-color: $navBgColor;
  padding: 1rem;

  .img {
    width: 130px;
  }
  .title {
    font-size: 35px;
  }
  .glyphicon.glyphicon-log-out {
    color: gray;
  }
}
