<navbar></navbar>
<header>
  <div class='row text-center'>
    <div class='col-md-12 col-md-8'>
      <h1>Projects</h1>
    </div>
  </div>
</header>
<pro class='project'>
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <!--Edit project form-->
        <form name"editProject" ng-show="model.showEdit" ng-submit="model.Save()" >
          <input class="form-control project"  type="text" ng-model="model.project.title" required>
          <button  type="submit" class="btn btn-primary btn-sm pull-right">Save</button>
          <button type="button" class="btn btn-default btn-sm pull-right" ng-click = "model.cancelEdit()">Cancel</button>
        </form>
    </div>
    <div class='col-md-3'></div>
  </div>

  <div class='row' ng-repeat= "project in model.projects | orderBy: 'id' ">
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <div class="dropdown">
        <button class="btn btn-primary project btn-block " type="button" ng-hide="model.showEdit">
          <h4><small class="open_task pull-left" ng-click='model.showTasks(project)' ng-hide="model.visible">
            <span class="glyphicon glyphicon-triangle-right"></span>&emsp;{{ project.title }}</small>
          </h4>
          <h4><small class="open_task pull-left" ng-click='model.hideTasks(project)' ng-show="model.visible">
            <span class="glyphicon" ng-class="project === model.current_project  ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-right'"></span>&emsp;{{ project.title }}</small>
          </h4>
          <span class="project-controls">
            <i class="pull-right glyphicon glyphicon-trash" ng-click="model.deleteProject(project)"></i>
            <i class="pull-right glyphicon glyphicon-pencil" ng-click="model.editProject(project)"></i>
          </span>
        </button>
        <!-- Tasks -->
          <task ng-if="project === model.current_project" ng-show="model.visible"
tasks="model.projectTasks" projectid="model.project_id" opened="model.isOpen"  on-open-datepicker="model.openDatepicker(status, task)"></task>
      </div>
    </div>
    <!-- Date picker -->
    <span ng-if="project === model.current_project">
    <div class='col-md-3' ng-show="model.isOpen">
      <h4>Choose deadline:</h4>
      <div class="alert alert-danger" ng-show='model.message'>
        {{model.message}}
      </div>
      <md-datepicker ng-model="model.deadline" md-placeholder="Enter the date..."></md-datepicker></div>
    </span>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <!--Add new project  -->
      <form name="addProject" ng-submit="model.addProject()" ng-hide="model.showEdit">
        <input type="text" class="form-control" placeholder="Enter project name..." ng-model="model.project.title" required>
        <button type="submit" class="btn btn-primary btn-sm"
        ng-show="addProject.$dirty && model.project.title != '' ">Create project</button>
        <button type="button" class="btn btn-default btn-sm" ng-click = "model.removeContent()"
        ng-show="addProject.$dirty && model.project.title != ''">Cancel</button>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</pro>
<footer></footer>
