

<tas class='task'>
  <!--Edit task form-->
  <div id="taskEdit" class='row' ng-show="vm.showField">
    <div class='col-md-12'>
      <form name"editTask"  ng-submit="vm.Save()">
        <input class="form-control task"  type="text" ng-model="vm.task.title" required>
        <button  type="submit" class="btn btn-success btn-sm pull-right">Save</button>
        <button type="button" class="btn btn-default btn-sm pull-right" ng-click = "vm.cancelEdit()">Cancel</button>
      </form>
    </div>
  </div>

  <div class='row' ng-repeat= "task in vm.tasks | orderBy : 'position'">
    <div  id="taskList" class='col-md-12'>
        <button class="btn btn-default btn-block" ng-hide="vm.showField">
            <input class="checkbox pull-left" type="checkbox" ng-change="vm.changeStatus(task)" ng-model="task.done">
            <span class="title done-{{task.done}} pull-left">{{task.title}}</span>
          <span class="task-controls">
            <span class="date pull-left">{{task.deadline}}</span>
            <i class="pull-right glyphicon glyphicon-trash" ng-click="vm.deleteTask(task)"></i>
            <i class="pull-right glyphicon glyphicon-pencil" ng-click="vm.editTask(task)"></i>
            <i class="pull-right glyphicon glyphicon-time" ng-click="vm.onOpenDatepicker({ status: vm.open, task: task})" ng-hide="vm.opened"></i>
            <i class="pull-right glyphicon glyphicon-time set" ng-click="vm.onOpenDatepicker({ status: vm.close, task: task})" ng-show="vm.opened"></i>
            <i class="pull-right glyphicon glyphicon-comment" ng-click="vm.openComments(task)"></i>
            <i class="pull-right glyphicon glyphicon-arrow-up" ng-click="vm.Move(task, 'move_higher')"></i>
            <i class="pull-right glyphicon glyphicon-arrow-down" ng-click="vm.Move(task, 'move_lower')"></i>
          </span>
        </button>
    </div>
  </div>
<!--Add task-->
  <div class='row'>
    <div class='col-md-12'>
      <form name="addTask" class="form-group" ng-submit="vm.addTask()" ng-hide="vm.showField">
        <input type="text" class="form-control" placeholder="Add task here..." ng-model="vm.task.title">
      <button type="submit" class="btn btn-success btn-sm" ng-show="addTask.$dirty && vm.task.title != '' ">Create task</button>
      <button type="button" class="btn btn-default btn-sm" ng-click ="vm.removeContent()" ng-show="addTask.$dirty && vm.task.title != ''">Cancel</button>
    </form>
  </div>
  </div>


<!--Modal window  -->
  <div  class="modal">
    <script type="text/ng-template" id="modal.html">

      <div class="modal-header">
        <i class="pull-right glyphicon glyphicon-remove" style="outline: none;" ng-click="close()"></i>
        <h3 class="modal-title">Add comment</h3>
      </div>

      <div class="modal-body">
        <comments comments="comments" projectid="projectid" taskid="taskid"></comments>
        <br/>
      </div>

      <div class="modal-footer">
        <div class="row">
          <div class="col-md-8">
            <ul style="list-style-type: none;" ng-repeat="comment in comments">
              <li><small class="pull-left">{{comment.created_at.substring(0, 10)}}</small><i ng-if="comment.created_at" class="glyphicon glyphicon-trash pull-left" style=" margin-left: 10px; font-size: 15px; color: gray; cursor: pointer; outline: none;" ng-click="deleteComment(comment)"></i><br>
                <small class="pull-left"><h5>{{comment.text}}</h5></small><br>
                <br>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </script>
  </div>


</tas>
