<div class="comments">
  <form class="form-group" ng-submit="$ctrl.saveComment(comment)">
    <textarea class="form-control" rows="3" id="comment" placeholder="Enter your comment..." ng-model="$ctrl.comment" required>
    </textarea>

    <span class="glyphicon glyphicon-paperclip pull-right" ngf-select="upload($file, comment)"></span>

    <button type="button" class="btn btn-default pull-right" ng-click ="$ctrl.cancelComment()">Cancel</button>
    <button type="submit" class="btn btn-primary pull-right">Save</button>
  </form>
</div>
